html {
  --light-grey: #f8f8f8;
  --light-grey-two: #5A6273;
  --dark-grey: #3A3F4A;
  --darkest-grey: #24272E;
  --black: #212121;
  --red: #FC1D42;
  --white: #fff;
  --light-green: #22D69B;
  --dark-green: #1ba678;
  --transparent-grey: rgba(0,0,0,0.05);
}


.acc-group {
  max-width: 30em;
  width: 100%;
}

.acc-title {
  padding-bottom: 0.5em;
}

.acc {
  margin: 0;
  position: relative;
  width: 100%;
}

.acc input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -999;
  transition: background-color 0.5s ease;
}

.acc label {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  background: var(--darkest-grey);
  padding: 0.8rem 1.2rem;
  color: var(--white);
  transition: 0.5s ease;
  margin: 0;
  border-bottom: .5px solid var(--light-grey-two);
}

.acc input:focus + label,
.acc label:hover {
  background-color: var(--dark-grey);
}

.acc-content {
  margin: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0 1.2rem;
  transition: all .35s;
}

/*.acc-content {
  margin-bottom: 0.5em;
}*/

.acc input:checked ~ .acc-content {
  max-height: 7rem;
  border-top: 1rem;
  background-color: var(--light-grey-two);
  color: var(--white);
  padding: 0.5rem 1.2rem;
}

.acc input:checked ~ label .rotate {
  -ms-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
}

.expand {
  display: inline-block;
  float: right;
}

.expand:hover {
  cursor: pointer;
}

.rotate{
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
