/*
Project Name: badger_learning
Client: Ourselves!
Author: Clementine Brown, Jun Taoka, Sasha Ward, Karima Saad
*/

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear:both;
}
.is-hidden {
  display: none;
}
.is-visible {
  display: block;
}

/******************************************
/* SENSIBLE DEFAULTS
/*******************************************/

* {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
}
img {
  max-width: 100%;
}
html {
  font-size: 16px;
  color: #4C5664;
  font-family: 'Open Sans', sans-serif;
}

/******************************************
/* GRID
/*******************************************/

.grid-row {

}
.grid-column {
  float: left;
}
.grid-whole {width: 100%}
.grid-half {width: 50%}
.grid-third {width: 33.33%}
.grid-quarter {width: 25%;}
.grid-fifth {width: 20%}
.grid-two-third {width: 66.66%}
.grid-three-quarter {width: 75%}
.grid-two-fifth {width: 40%}
.grid-three-fifth {width: 60%}
.grid-four-fifth {width: 80%}

/******************************************
/* LAYOUT
/*******************************************/

.container {
  max-width: 1210px;
  margin: 2rem auto;
  position: relative;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

h1 {
  font-family: 'Bitter', serif;
}

/******************************************
/* HEADER
/*******************************************/

header {
  padding: 2em;
}


/******************************************
/* SIDE NAV
/*******************************************/

.side-nav {
  padding: 0 0 0 2em;
}

a:hover {
  text-decoration: none;
}

/******************************************
/* FORM ELEMENTS
/*******************************************/

label {
  font-size: 1.1em;
  font-weight: 400;
  display: block;
  margin-bottom: 7px;
}

.field {
  height: 44px;
  width: 300px;
  border: 1.2px solid #4C5664;
}

.dropdown {
  width: 50%;
  box-shadow: none;
}
