/*
Project Name: RB-UXD-CODE-LIBRARY
Client: Ourselves!
Author: Clementine Brown, Jun Taoka, Sasha Ward, Karima Saad
*/

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear:both;
}
.is-hidden {
  display: none;
}
.is-visible {
  display: block;
}

/******************************************
/* SENSIBLE DEFAULTS
/*******************************************/

* {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
}

img {
  max-width: 100%;
}

html {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #212121;
  font-family: 'Open Sans', sans-serif;
  --light-grey: #f8f8f8;
  --light-grey-two: #5A6273;
  --dark-grey: #3A3F4A;
  --darkest-grey: #24272E;
  --black: #212121;
  --red: #FC1D42;
  --white: #fff;
  --light-green: #22D69B;
  --dark-green: #1ba678;
  --transparent-grey: rgba(0,0,0,0.05);
}

/******************************************
/* LAYOUT
/*******************************************/

.container {
  max-width: 1210px;
  padding: 2rem 0 2rem 0;
  margin: 0 auto 0 auto;
  background-color: var(--light-grey);
  box-shadow: 0 0 1px 1px var(--transparent-grey);
}

.spacer{
  margin-bottom: 3rem;
}

.main {
  margin: 2rem 0 0 2rem;
}

.side {
  padding: 2rem 0 0 2rem;
  display: block;
  /*background-color: #22D69B;*/
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

a {
  text-decoration: none;
}

/*a:hover {*/
  /*text-decoration: underline;*/
  /*text-decoration-color: var(--red);
  color: var(--red);*/
/*}*/

/*a:visited {
  color: #212121;
}*/

/*p {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}*/

h1 {
  font-size: 2.5rem;
  font-family: 'Bitter', serif;
  font-weight: 800;
  letter-spacing: .1rem;
  color: var(--black);
}

/******************************************
/* HEADER
/*******************************************/

header {
  margin-bottom: 2rem;
  margin-left: 2rem;
}

/******************************************
/* SIDE NAV
/*******************************************/

ul li {
  list-style: none;
  margin-bottom: 1rem;
}

/******************************************
/* FORM ELEMENTS
/*******************************************/

label {
  /*font-size: 1rem;
  font-weight: 400;*/
  display: block;
  margin-bottom: 0.5rem;
}

select,
input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  box-shadow: none;
  border: 1.2px solid var(--black);
  height: 44px;
  width: 50%;
  margin-bottom: 1rem;
  background-color: var(--white);
}

button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: var(--light-grey);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  background: var(--light-green);
  padding: 0.8rem 1.2rem;
  text-decoration: none;
  max-width: 200px;
  min-width: 150px;
  text-align: center;
  border: 0px;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(to top right, var(--dark-green), var(--light-green));
  text-decoration: none;
}

.radioLabel {
  display: inline;
  margin-top: .5rem;
  /*float: left;*/
  /*margin-left: .3rem;*/
}

.radioButton {
  vertical-align: middle;
  max-width: 3rem;
  margin-bottom: 0;
}

ins {
  text-decoration: none;
  position: relative;
}

ins:before {
  content: "";
  height: 1px;
  background-color: var(--light-green);
  width: 50%;
  position: absolute;
  bottom: -2px;
  left: 0;
}

ins:hover::before {
  background-color: var(--dark-green);
  transform: scaleX(2);
  transform-origin: 0 0;
  transition: transform 0.3s;
}

/******************************************
/* MEDIA QUERIES
/*******************************************/
@media only screen and (max-width : 768px) {
  .main {
    margin-top: 2rem;
  }
}
