/*
Project Name: RB-UXD-CODE-LIBRARY
Client: Ourselves!
Author: Clementine Brown, Jun Taoka, Sasha Ward, Karima Saad
*/

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear:both;
}
.is-hidden {
  display: none;
}
.is-visible {
  display: block;
}

/******************************************
/* SENSIBLE DEFAULTS
/*******************************************/

* {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
}
img {
  max-width: 100%;
}
html {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #4C5664;
  font-family: 'Open Sans', sans-serif;
}

/*body {
  margin: 2rem;
}*/

/******************************************
/* GRID
/*******************************************/

.grid-row {

}
.grid-column {
  float: left;
}
.grid-whole {width: 100%}
.grid-half {width: 50%}
.grid-third {width: 33.33%}
.grid-quarter {width: 25%;}
.grid-fifth {width: 20%}
.grid-two-third {width: 66.66%}
.grid-three-quarter {width: 75%}
.grid-two-fifth {width: 40%}
.grid-three-fifth {width: 60%}
.grid-four-fifth {width: 80%}

/******************************************
/* LAYOUT
/*******************************************/

.container {
  max-width: 1210px;
  margin: 2rem auto 0 auto;
}
.spacer{
  margin-top: 3em;
  margin-bottom: 3em;
  /*border-top: 1px solid #cccccc;*/
}

.main {
  margin-left: 2rem;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
p {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 4rem;
  font-family: 'Bitter', serif;
  font-weight: 800;
  letter-spacing: .2rem;
  color: #4C5664;
}

/******************************************
/* HEADER
/*******************************************/

header {
  margin-bottom: 2rem;
  margin-left: 2rem;
}

/******************************************
/* BUTTONS
/*******************************************/

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #f8f8f8;
  font-size: 20px;
  background: #22D69B;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  max-width: 200px;
  text-align: center;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background: #1ba678;
  text-decoration: none;
}

/******************************************
/* SIDE NAV
/*******************************************/

.side {
  padding: 0 0 0 2em;
  display: block;
}
.list {
  margin-bottom: 1rem;
}
/******************************************
/* FORM ELEMENTS
/*******************************************/

label {
  /*font-size: 1em;
  font-weight: 400;*/
  display: block;
  margin-bottom: 7px;
}

.field {
  height: 44px;
  width: 50%;
  border: 1.2px solid #4C5664;
}

.field:last-child {
  margin-bottom: 0px;
}

.dropdown {
  box-shadow: none;
  border: 1.2px solid #4C5664;
}

form input {
  border: 1.2px solid #4C5664;
  margin-bottom: 1rem;
}

.radioitem {
  display: inline-block;
  margin-top: .5rem;
  margin-left: .3rem;
}

/******************************************
/* MEDIA QUERIES
/*******************************************/
@media only screen and (max-width : 768px) {
  .main {
    margin-top: 2rem;
  }
}
